# Athletes

In [216]:
import pandas as pd
import numpy as np

In [174]:
pd.set_option('display.max_rows', None)

In [175]:
df = pd.read_csv(
    '../data/marathon.csv',
    sep=',',
    header=None,
    names=[
        'Rank',
        'Time',
        'Name',
        'Country',
        'Date of Birth',
        'Place',
        'City',
        'Date',
        'Gender',
    ]
)

In [176]:
df = df.sort_values('Time')

In [198]:
df['DTTime'] = pd.to_datetime(df['Time'], format='%H:%M:%S')
df['Date of Birth'] = pd.to_datetime(df['Date of Birth'], format='%d.%m.%y', errors='coerce')
df['Date'] = pd.to_datetime(df['Date'], format='%d.%m.%Y', errors='coerce')

In [199]:
df.head()

,Rank,Time,Name,Country,Date of Birth,Place,City,Date,Gender,DTTime
0,1,2:00:35,Kelvin Kiptum,KEN,1999-12-02,1,Chicago,2023-10-08,Men,1900-01-01 02:00:35
1,2,2:01:09,Eliud Kipchoge,KEN,1984-11-05,1,Berlin,2022-09-25,Men,1900-01-01 02:01:09
2,3,2:01:25,Kelvin Kiptum,KEN,1999-12-02,1,London,2023-04-23,Men,1900-01-01 02:01:25
3,4,2:01:39,Eliud Kipchoge,KEN,1984-11-05,1,Berlin,2018-09-16,Men,1900-01-01 02:01:39
4,5,2:01:41,Kenenisa Bekele,ETH,1982-06-13,1,Berlin,2019-09-29,Men,1900-01-01 02:01:41

How many entries do we have?

In [179]:
df.shape[0]

9410

How many athletes are there?

In [180]:
df['Name'].nunique()

2822

How many nationalities?

In [181]:
df['Country'].nunique()

78

What are the top nationalities?

In [182]:
df.groupby('Country')\
    .size()\
    .sort_values(ascending=False)

Country
KEN    3064
ETH    2252
JPN    1005
USA     305
RUS     266
CHN     200
ITA     163
GER     143
MAR     139
GBR     120
ESP     107
ERI     106
POR     101
AUS      95
RSA      86
POL      84
BRN      79
FRA      66
UGA      64
MEX      62
NED      60
TAN      60
ROU      59
PRK      54
KOR      53
UKR      53
BEL      51
BRA      43
NOR      36
ISR      33
CAN      30
BLR      30
NZL      22
SUI      21
SWE      21
LAT      20
NAM      19
TUR      19
IRL      17
PER      15
LTU      12
ECU      12
KGZ      11
CRO      10
FIN      10
EST      10
DJI       9
HUN       9
MGL       9
QAT       8
ALG       8
BDI       7
SLO       7
CZE       6
ZIM       5
COD       5
ARG       5
FRG       5
SRB       4
KAZ       4
COL       4
LES       3
GDR       3
DEN       3
MDA       3
BOL       2
RWA       2
CYP       1
SVK       1
PAR       1
CHI       1
PAN       1
UAE       1
BEl       1
LUX       1
AUT       1
UZB       1
MRI       1
dtype: int64

Who are the top runners?

In [183]:
df.groupby('Gender').head(5)\
    [['Name', 'Time', 'Gender']]

                  Name     Time Gender
0        Kelvin Kiptum  2:00:35    Men
1       Eliud Kipchoge  2:01:09    Men
2        Kelvin Kiptum  2:01:25    Men
3       Eliud Kipchoge  2:01:39    Men
4      Kenenisa Bekele  2:01:41    Men
4909     Tigist Assefa  2:11:53  Women
4910      Sifan Hassan  2:13:44  Women
4911     Brigid Kosgei  2:14:04  Women
4912  Ruth Chepngetich  2:14:18  Women
4913      Amane Beriso  2:14:58  Women

What is the best running time by country?

In [184]:
df.groupby(['Country'])['Time'].min()\
    .sort_values(ascending=True)

Country
KEN    2:00:35
ETH    2:01:41
TAN    2:03:00
BEL    2:03:36
TUR    2:04:16
ERI    2:04:35
BRN    2:04:43
UGA    2:04:48
BRA    2:04:51
JPN    2:04:56
NED    2:04:56
GER    2:04:58
USA    2:04:58
SUI    2:05:10
GBR    2:05:11
MAR    2:05:12
FRA    2:05:22
ISR    2:05:33
CAN    2:05:36
NOR    2:05:48
ESP    2:06:25
RSA    2:06:33
POR    2:06:36
DJI    2:06:43
ZIM    2:06:48
BDI    2:07:13
UKR    2:07:15
ITA    2:07:16
QAT    2:07:19
MEX    2:07:19
KOR    2:07:20
CHN    2:07:30
AUS    2:07:31
POL    2:07:39
PER    2:07:40
BOL    2:07:49
RWA    2:08:18
NZL    2:08:19
MDA    2:08:32
COD    2:08:40
NAM    2:08:40
MGL    2:08:50
EST    2:08:53
RUS    2:09:07
IRL    2:09:15
FRG    2:09:23
ARG    2:09:36
DEN    2:09:43
LES    2:09:47
SWE    2:09:47
PAN    2:09:49
ECU    2:09:49
SVK    2:09:53
ALG    2:09:54
GDR    2:09:55
AUT    2:10:06
PAR    2:10:11
BEl    2:10:17
CYP    2:10:20
CHI    2:10:26
ROU    2:19:27
LAT    2:22:56
CRO    2:23:39
BLR    2:23:54
LTU    2:25:15
CZE    2:25:19
SRB    2:25:23
PRK    2:25:31
COL    2:25:35
KGZ    2:26:27
HUN    2:26:44
KAZ    2:26:54
UAE    2:27:08
FIN    2:27:26
SLO    2:27:33
LUX    2:29:23
UZB    2:29:28
MRI    2:29:45
Name: Time, dtype: object

What is the slowest running time by country?

In [186]:
df.groupby(['Country'])['Time'].max()\
    .sort_values(ascending=False)

Country
POL    2:29:59
BRA    2:29:59
HUN    2:29:59
JPN    2:29:59
ETH    2:29:59
RSA    2:29:59
KEN    2:29:59
USA    2:29:59
LAT    2:29:58
CHN    2:29:58
FRA    2:29:58
GER    2:29:58
ITA    2:29:58
RUS    2:29:58
KOR    2:29:58
MEX    2:29:57
PRK    2:29:57
UKR    2:29:57
SWE    2:29:57
GBR    2:29:57
CZE    2:29:56
BEL    2:29:56
FIN    2:29:56
NED    2:29:55
PER    2:29:55
KGZ    2:29:55
UGA    2:29:54
POR    2:29:54
BDI    2:29:54
ESP    2:29:54
ROU    2:29:53
TAN    2:29:53
BLR    2:29:50
ERI    2:29:48
AUS    2:29:48
CAN    2:29:48
LTU    2:29:47
EST    2:29:47
NZL    2:29:46
TUR    2:29:46
MRI    2:29:45
SUI    2:29:42
NOR    2:29:40
SRB    2:29:38
KAZ    2:29:37
SLO    2:29:37
BRN    2:29:36
COL    2:29:36
IRL    2:29:34
DEN    2:29:34
FRG    2:29:33
MGL    2:29:32
NAM    2:29:30
UZB    2:29:28
MAR    2:29:24
LUX    2:29:23
ZIM    2:29:20
GDR    2:29:19
ISR    2:29:04
ARG    2:28:58
CRO    2:28:52
ECU    2:28:52
ALG    2:28:30
MDA    2:28:26
UAE    2:27:08
CHI    2:10:26
COD    2:10:25
LES    2:10:24
DJI    2:10:22
CYP    2:10:20
BEl    2:10:17
PAR    2:10:11
AUT    2:10:06
RWA    2:09:55
SVK    2:09:53
PAN    2:09:49
QAT    2:09:22
BOL    2:09:08
Name: Time, dtype: object

Who are the fastest athletes for each country?

In [224]:
# How to get this to work?
# df.iloc[\
#     df.groupby(['Name', 'Country'])['DTTime'].idxmin()\
# ][['Name', 'Country', 'Time']]

When was the last time each country is in the list?

In [225]:
df.groupby(['Country'])\
    .agg({'Date': [np.max]})

              Date
               max
Country
ALG     2023-02-26
ARG     2022-02-20
AUS     2023-07-02
AUT     2020-10-04
BDI     2022-04-10
BEL     2023-10-08
BEl     2023-04-16
BLR     2021-08-07
BOL     2023-02-19
BRA     2023-04-23
BRN     2023-10-05
CAN     2023-09-24
CHI     2023-02-19
CHN     2023-10-05
COD     2005-04-10
COL     2023-09-24
CRO     2022-12-04
CYP     2023-02-19
CZE     2021-05-23
DEN     1989-04-23
DJI     2023-02-05
ECU     2023-04-23
ERI     2023-09-24
ESP     2023-04-16
EST     2020-02-23
ETH     2023-10-08
FIN     2023-02-19
FRA     2023-09-24
FRG     1988-02-14
GBR     2023-10-08
GDR     1988-03-06
GER     2023-10-08
HUN     2023-02-19
IRL     2022-08-15
ISR     2023-08-27
ITA     2023-08-26
JPN     2023-10-08
KAZ     2022-04-10
KEN     2023-10-08
KGZ     2023-10-05
KOR     2023-04-02
LAT     2016-08-14
LES     2023-08-27
LTU     2017-04-23
LUX     1986-09-23
MAR     2023-09-17
MDA     2019-04-28
MEX     2023-02-19
MGL     2023-04-02
MRI     2023-04-16
NAM     2023-04-02
NED     2023-10-08
NOR     2023-04-23
NZL     2020-02-23
PAN     2020-12-06
PAR     2020-12-06
PER     2023-02-19
POL     2023-04-16
POR     2023-04-23
PRK     2019-04-07
QAT     2014-10-19
ROU     2022-10-02
RSA     2023-10-08
RUS     2022-10-30
RWA     2023-04-02
SLO     2008-03-30
SRB     2006-04-17
SUI     2023-09-24
SVK     1998-04-26
SWE     2023-04-02
TAN     2023-09-24
TUR     2023-03-19
UAE     2023-02-19
UGA     2023-10-08
UKR     2023-09-24
USA     2023-10-08
UZB     2023-09-24
ZIM     2022-12-04