# Marathon Cities

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(
    '../data/marathon.csv',
    sep=',',
    header=None,
    names=[
        'Rank',
        'Time',
        'Name',
        'Country',
        'Date of Birth',
        'Place',
        'City',
        'Date',
        'Gender',
    ]
)

In [8]:
df[df['City'] == '02.04.2017']

,Rank,Time,Name,Country,Date of Birth,Place,City,Date,Gender
2986,2971,2:09:19,Mathew Kipsaat,KEN,4,Roma,02.04.2017,Men,NaN

How many cities hold marathons?

In [3]:
df['City'].nunique()

291

What are the top cities?

In [6]:
df.groupby('City').size()

City
02.04.2017     1
02.04.2023     1
05.03.2017     1
07.04.2019     2
07.11.2021     1
              ..
Yamaguchi      2
Yingkou        1
Yokohama      29
Zhengzhou      9
ZÃ¼rich        30
Length: 291, dtype: int64