# Marathon Cities

In [1]:
import pandas as pd

In [14]:
pd.set_option('display.max_rows', None)

In [15]:
df = pd.read_csv(
    '../data/marathon.csv',
    sep=',',
    header=None,
    names=[
        'Rank',
        'Time',
        'Name',
        'Country',
        'Date of Birth',
        'Place',
        'City',
        'Date',
        'Gender',
    ]
)

How many cities hold marathons?

In [16]:
df['City'].nunique()

244

What are the top cities?

In [18]:
df.groupby('City')\
    .size()\
    .sort_values(ascending=False)

City
London                  649
Berlin                  452
Tokyo                   409
Chicago                 368
Boston                  359
Paris                   346
Amsterdam               295
Rotterdam               293
New York City           292
Osaka                   290
Seoul                   284
Dubai                   282
Valencia                258
Frankfurt               249
Nagoya                  238
Hamburg                 192
Sevilla                 176
Otsu                    169
Fukuoka                 166
Praha                   143
Roma                    129
Beijing                 126
Eindhoven               122
Milano                  121
Wien                    121
Toronto                 112
Barcelona               106
Xiamen                  101
Houston                  88
Daegu                    88
Shanghai                 76
Los Angeles              70
Ljubljana                62
Lisboa                   62
Enschede                 62
Torino                   61
Kosice                   56
Ottawa                   52
Mumbai                   50
Venezia                  48
Marrakesh                48
Beppu-Oita               45
Ampugnano                44
Istanbul                 41
Sydney                   40
Pyongyang                40
San Diego                39
Reims                    38
Hannover                 37
Gold Coast               36
Eugene                   36
Warszawa                 35
Köln                     34
Madrid                   31
Zürich                   30
Yokohama                 29
München                  29
Sapporo                  28
Rennes                   27
Oita                     27
Abu Dhabi                27
Chuncheon                26
Budapest                 26
Carpi                    25
Chongqing                24
Buenos Aires             23
Düsseldorf               23
Nagano                   22
Málaga                   22
Rabat                    22
Porto                    21
Saint-Denis              21
Gongju                   20
Helsinki                 20
Firenze                  19
Hengshui                 19
Chandler                 19
Castellón                19
Dublin                   19
Rio de Janeiro           18
Gyeongju                 18
Cape Town                18
Tiberias                 17
Minneapolis-St. Paul     17
Atlanta                  16
Duluth                   16
Wuxi                     15
San Sebastián            15
Hangzhou                 15
Dongying                 13
Kyongju                  12
Dalian                   12
Hefei                    11
Riyadh                   11
Linz                     11
Hofu                     10
Honolulu                 10
Padova                   10
Izmir                    10
Tianjin                  10
Saitama                   9
Edmonton                  9
Guangzhou                 9
Zhengzhou                 9
La Rochelle               8
Treviso                   8
Brescia                   8
Beyrouth                  7
Taipei                    7
Hiroshima                 7
Sacramento                7
Moskva                    7
Santa Monica              7
Athínai                   6
Deagu                     6
Port Elizabeth            6
Münster                   6
Lódz                      5
Lima                      5
Mombasa                   5
Stockholm                 5
Xuzhou                    5
Nice-Cannes               4
Nairobi                   4
Edinburgh                 4
Dar-el-Beida              4
Columbus                  4
Brighton                  4
Warwick-Providence        4
Genève                    4
Venice                    4
Bad Loipersdorf           4
Kobe                      4
Donying                   4
Hongkong                  4
Bejing                    3
Wuhan                     3
Pulford                   3
Shenzhen                  3
Brisbane                  3
Saint Louis               3
Bila Tserkva              3
Cannes                    3
Birmingham                3
Pittsburgh                3
Santiago de Chile         3
Lyon                      3
Huy                       3
Kraków                    3
Lanzhou                   3
Melbourne                 3
Nashville                 2
Trieste                   2
Auckland                  2
Uzhgorod                  2
Lausanne                  2
Las Vegas                 2
Utrecht                   2
Danzhou                   2
Kunsan                    2
Macau                     2
Grünau                    2
San Antonio               2
Baltimore                 2
Montréal                  2
Incheon                   2
Tallinn                   2
Graz                      2
Leipzig                   2
Eldoret                   2
Glasgow                   2
Yamaguchi                 2
New Taipei City           2
Casablanca                2
Mogilyov                  2
Ciudad de México          2
Volgograd                 2
El Djezair                2
Annecy                    1
Tel Aviv                  1
Thessaloníki              1
Torreon                   1
Yingkou                   1
Tayuan                    1
Gunsan                    1
Guiyang                   1
Bangkok                   1
Taiyun                    1
Guadalajara               1
Verona                    1
Torreón                   1
Vilnius                   1
Toulouse                  1
Antwerp                   1
Düseldorf                 1
Essen                     1
Wroclaw                   1
Arusha                    1
Durban                    1
Hitachinaka               1
Volograd                  1
Dresden                   1
Venizia                   1
Taiyuan                   1
Christchurch              1
Debno                     1
Marranello-Capri          1
Cleveland                 1
Poznan                    1
Mainz                     1
Manchester                1
Marrakech                 1
Philadelphia              1
Perth                     1
Matsuyama                 1
Columbia                  1
Mazatlán                  1
Mersin                    1
Niagara Falls             1
Miami                     1
Monaco                    1
Mont St. Michel           1
Monterrey                 1
Ad-Dawhah                 1
Ravenna                   1
Swakopmund                1
Jinan                     1
Surfers Paradise          1
Stuttgart                 1
Sochi                     1
Singapore                 1
Beograd                   1
Berchem                   1
Berlin/Grunau             1
Karstadt                  1
Dallas                    1
Kazan                     1
San Francisco             1
Sakai                     1
Kumamoto                  1
Kwangju                   1
Lagos                     1
Riga                      1
Belaya Tserkov            1
dtype: int64

What are the runs in Singapore?

In [19]:
df[df['City'] == 'Singapore']

,Rank,Time,Name,Country,Date of Birth,Place,City,Date,Gender
8439,3532,2:28:54,Priscah Cherono,KEN,27.06.80,1,Singapore,30.11.2019,Women